<button routerLink="/customer">Back</button>
<form [formGroup]="customerForm" (ngSubmit)="Save()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <label>
    Address :
    <input type="text" formControlName="address">
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
  </label>

  <label>
    Phone Number:
    <input type="text" formControlName="phoneNumber">
  </label>
  <button type="submit">Save</button>

</form>
