
<ul>
  <div class="dropdown">

    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-primary" ngbDropdownToggle>Menu</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/">Home</button>
      <button ngbDropdownItem routerLink="/customer">Customer</button>
      <button ngbDropdownItem routerLink="/order">Order</button>
      <button ngbDropdownItem routerLink="/product">Product</button>
      <button ngbDropdownItem routerLink="/contact">Contact</button>
      <button ngbDropdownItem routerLink="/about">About</button>
      <button ngbDropdownItem routerLink="/search">Search</button>
    </div>
  </div>
  </div>


</ul>

